body{
    background-image: url("../images/full-bloom.png");
    font-family: Arial, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #777777;
}

.navbar{
    margin-bottom: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: solid 4px #4aaaa5;
}

main{
    padding: 25px;
    background-color: #ffffff;
    border: solid 1px #4aaaa5;
    margin-bottom: 25px;
}

main h2{
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: solid 1px #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

main p{
    line-height: 30px;
    padding-bottom: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #343a40;
    border-top: solid 4px #4aaaa5;
}

footer p{
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom: -20px;
}

img{
    margin-bottom: 10px;
}

